extends layout

block content
  div.gif
   img(src='http://i.giphy.com/MV2Jjcr4V7mgM.gif')
  h1 Find A Puppy
  input
  button(style='cursor:pointer') search



  div.searchHeadingsTable
    div.headerDiv
    tbody
      if query
        for q in query
          div
            div
              img.searchResultsImg(src=q.image_url)
            div.searchResults
              a(href="puppies/"+q.id)= q.title
            div.searchResults= q.author
            div.descriptionTable.searchResults= q.description
