extends layout

block content
  div.gif
   img(src='http://i.giphy.com/MV2Jjcr4V7mgM.gif')
  form(action="/search", method="get")
    h1 Find A Puppy
    input(type="text", name="q", placeholder=" Search by Name").inputBox
    button(type="submit", value="Submit").searchBtn Search



  div.searchHeadingsTable
    div.headerDiv
    tbody
      if query
        for q in query
          div
            div
              img(src=q.image_url)
            div.searchResults
              a(href="puppies/"+q.id)= q.name
            div.searchResults= q.breed
            div.descriptionTable.searchResults= q.description
